#wrapper{
   width: 800px;
   margin: auto;
}


#content{
  height: 700px;
  border-radius:20px;
  background-color: #eaf9f3;
  background-repeat: repeat-y;
}

#content_{
  border-radius:20px;
  background-color: #eaf9f3;
  background-repeat: repeat-y;
}

#lines{
	position: absolute; 
	top:80px; 
	left:310px; 
	width:700px; 
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
}

p {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
}


#footer{
  font-size: 9pt;
}

/*menu bar*/
#menu{
	width: 800px;
	height: 40px;
	clear: both;
	font-size: 12px;
}
ul.navi{
	float: left;
	width: 800px;
	margin: 0;
	padding: 0;
	list-style: none;
	background: #7aba98;
	-moz-border-radius-topright: 10px;
	-webkit-border-radius-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-webkit-border-radius-top-left-radius: 10px;
}

ul. navi li{
	display: inline;
}

ul.navi li a{
	float: left;
	font: bold 14px;

	line-height: 40px;
	color: #fff;
	text-decoration: none;
	text-shadow: 1px 1px 1px #003300;
	margin: 0;
	padding: 0 30px;
	background: #7aba98;
	-moz-border-radius-topright: 10px;
	-webkit-border-radius-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-webkit-border-radius-top-left-radius: 10px;
}

ul.navi .current a, ul.navi li:hover > a{
	color: #fff;
	text-decoration: none;
	text-shadow: 1px 1px 1px #330000;
	background: #94ceba;
	-moz-border-radius-topright: 10px;
	-webkit-border-radius-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-webkit-border-radius-top-left-radius: 10px;
}